<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018115611464-n0nhq7fja10fu4qb9eulnv5bc52fje5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018115611464-n0nhq7fja10fu4qb9eulnv5bc52fje5t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018115611464-1oje8h0ja8d0pgknhollopm97qnf8mj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6YsIhCYGHYRLz1I2fy1xOR2VllzXBYM8</string>
	<key>GCM_SENDER_ID</key>
	<string>1018115611464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>yummy-9287b</string>
	<key>STORAGE_BUCKET</key>
	<string>yummy-9287b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018115611464:ios:a81ec5fb76d2d1e161f17d</string>
	<key>DATABASE_URL</key>
	<string>https://yummy-9287b-default-rtdb.firebaseio.com</string>
</dict>
</plist>